html,body{
	width:100%;
	height:100%;
}
.red-body{
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:white;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center;
	position:relative;
}

@font-face{
font-family:'KievitOT-Regular';
src: url('KievitOT-Regular.otf')   format('opentype');
}


#mifuente {
font-family: 'KievitOT-Regular';
font-style: normal;
}

.centro{
	left:5%;
	top:5%;
	height:90%;
	width:90%;
	position:relative;
	text-align:center;
}

.logos{
	background-color: #4AA48C;
	width: 80%;
	height: 50%;
	position: absolute;
	left: 10%;
}

.ariza-soriano{
	width: 100%;
	height: 50%;
	
}
.bienvenida-inicio{
	left:10%;
	top: 50%;
	width:80%;
	height:15%;
	position:relative;
	text-align:center;
}


.bienvenida{
	color: #4AA48C;
	font: bold 6vh 'KievitOT-Regular';
	position: relative;
	top: 25%;
	font-family: 'KievitOT-Regular';
	font-style: normal;
}

.aviso{
	color:#4AA48C;
	font: bold 3vh 'KievitOT-Regular';
	font-family: 'KievitOT-Regular';
	font-style: normal;
	position: relative;
	text-align: center;
	top: 11%;
}

.form-usuarios{
	top:70%;
	position: absolute;
	left:0;
	bottom:0;
	width:80%;
	margin-left:10%;

}

.form-usuarios p{
	font:'KievitOT-Regular' 3.2vh 'KievitOT-Regular';
	font-family: 'KievitOT-Regular';
	font-style: normal;
	color:white;
}

.form-usuarios input{
	border-color: #4AA48C;
    font-family: 'KievitOT-Regular';
    font-size: 2.3vh;
    font-style: normal;
    width: 65%;
    text-align: center;
}

#le-loging{
	background-color: #4AA48C;
	color:white;
	font-size:2vh;
	font-family: 'KievitOT-Regular';
	font-style: normal;
	width: 65%;
	height:3.1vh;
	min-height: 20px;
}


.superstrong{
	font-size: 3vw;
	font-weight:bold;
	font-family: 'KievitOT-Regular';
	font-style: normal;
}

.imageesss{
width: 100%;
height: 100%;
position: relative;

}